# Ignora i file generati da Maven
target/
*.iml
mvnw
mvnw.cmd
.mvn/

# Ignora i file generati da Eclipse
.classpath
.project
.settings/
bin/

# Ignora i file generati da Visual Studio Code
.vscode/

# Ignora i file di configurazione specifici di Eclipse
*.launch
*.swp

# Ignora i file di log
*.log

# Ignora i file di configurazione di Spring Boot
#application.properties
#application.yml

# Ignora i file generati dalla compilazione
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Ignora i file di backup
*~

# Ignora i file di storage temporanei
tmp/

# Ignora gitkeep
.gitkeep

# Ignora node_modules dello Swagger
/backend/swagger/node_modules