<div class="container">
  <h1>Validate Fiscal Code</h1>
  <br>
  <form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Fiscal Code</mat-label>
        <input matInput type="text" id="fiscalCode" formControlName="fiscalCode" maxlength="16" placeholder="FSCLCD30T00L000S">
        <mat-error *ngIf="validateForm.get('fiscalCode')?.invalid && validateForm.get('fiscalCode')?.touched">
          Fiscal code is required
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="validateForm.invalid">Validate</button>
  </form>
  <div class="div" *ngIf="response != null">
    <br>
    <h2>Validation Result</h2>
    <br>
    <div *ngIf="response?.success" class="text-success">
      <div>
        <strong>Description:</strong> {{ response?.data?.description }}
      </div>
      <div>
        <strong>Homocodian Fiscal Codes:</strong> {{ response?.data?.homocodedFiscalCode ? 'Yes' : 'No' }}
      </div>
    </div>    
    <div *ngIf="!response?.success" class="text-danger">
      <strong>{{ response?.data?.description }}</strong>
    </div>
  </div>
</div>
